
<!-- navbar.component.html -->
<nav class="navbar">
  <ul class="navbar-menu">
    <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
    <li><a routerLink="/dataBinding" routerLinkActive="active">Data Binding</a></li>
    <li><a routerLink="/ngIf" routerLinkActive="active">NgIf</a></li>
    <li><a routerLink="/ngFor" routerLinkActive="active">NgFor</a></li>
    <li><a routerLink="/ngClass" routerLinkActive="active">NgClass</a></li>
    <li><a routerLink="/controlStatement" routerLinkActive="active">Control Statement</a></li>
    <li><a routerLink="/signal" routerLinkActive="active">Signal</a></li>
    <li><a routerLink="/forms" routerLinkActive="active">Forms</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>

